<div class="footerfaustine">

    <img width="250" height="200" class="logoff" src="/images/logo.jpg">

    <div class="redes">
        <img width="70" height="70" class="logoIgNegro" src="/images/logoIgNegro.jpg">
        <img width="70" height="70" class="logoFaceNegro" src="/images/logoFaceNegro.jpg">
        <img width="70" height="70" class="logoWappNegro" src="/images/logoWappNegro.jpg">
        <img width="70" height="70" class="logoWappNegro" src="/images/logoMail.png">
        <p> Copyright ©️ 2022 Faustine</p>
    </div>

    <nav class="lista1">
        <ul>
            <li class="listasMargenes"><a href="#">Preguntas</a></li>
            <li class="listasMargenes"><a href="#" class="ayudaFooter">Ayuda</a></li>
            <li class="listasMargenes"><a href="/busers/laMarca" id="laMarca">La Marca</a></li>
            <li class="listasMargenes"><a href="/busers/politica" id="politica"> Cambios y devoluciones</a></li>
        </ul>
    </nav>
    <section class="modalAyuda ">
        <div class="modalAyuda__container">
            <!--<img src="images/modal.svg" class="modal__img"> -->
            <h2 class="modalAyuda__title">¡Siempre a tu DISPOSICION¡</h2>
            <p class="modalAyuda__paragraph"> En nuestra linea directa 011-3550-2525 (tb para Whapsapp) registrá tu consulta, y a la brevedad un operador se comunicará con vos .- Podés consultar también via EMAIL al byfaustin.clientes@faustinGroup.com </p>
            <a href="#" class="modalAyuda__close">Cerrar </a>
        </div>
    </section> 


    <script src="js/ayuda.js"></script>  
    </div>

