.listadoEnBase, .listadoEnBase li ,.listadoEnBase a {
    color:black;
    text-decoration: none;
    margin-left: 2.5rem;
    list-style: none;
}

.listadoEnBaseGral, .listadoEnBaseGral li, .listadoEnBaseGral a{
    color:black;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 15pt;
    list-style: none;
}
div.listadoEnBaseProductos,div.listadoEnBasePRoductos li, div.listadoEnBasePRoductos a,div.listadoEnBasePRoductos ul{
  
    color:black;
    text-decoration: none;
    margin-left:2.5rem;
    list-style: none;
    border-color: dimgray;
    
}
li ,ul {
    list-style:none

}
#idA{
    color:brown;
    text-decoration: brown;
}
div.listadoSearch-categorias{
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    color:bisque;
    text-decoration: none;
    margin-left: 2.5rem;
    list-style: none;
    text-decoration: none;
    border-width: 4px;
    border-color: darkslategray;
}
div.listadoSearch-categorias a{
    text-decoration: none;
    color:bisque
}
div.listaProductoBase{
    width: 35%;
    height: 35%;
    background-color:rgb(96, 151, 151);
    font-weight: bolder;
    font-size: large;
    box-shadow: 0px 0px 10px rgb(100 100 100); 
    border-radius: 4px;
    

    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color:darkslategrey;
    margin: 0.5rem 0.5rem 0.5rem 2rem ;
}
#listaProdColor{
    color:bisque;
}

